@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "the-new-css-reset/css/reset.css";

:root {
  --blue: rgb(37, 99, 235);
}
html,
body {
  font: 16px "Lato", sans-serif;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
button:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 6px rgba(37, 99, 235, 0.4);
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

nav.button-bar {
  background-color: white;
  padding: 0.5em;
  display: flex;
  gap: 1em;
  align-self: center;
  justify-content: space-around;
}
nav.button-bar button {
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  border-color: transparent;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 600;
  background-color: rgb(243, 244, 246);
  color: var(--blue);
}

nav.button-bar button:hover {
  background-color: rgb(239, 246, 255);
}

.right-bar {
  background-color: #8cb7f2;
  padding: 6px;
}
