/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "the-new-css-reset/css/reset.css";

:root {
  --blue: rgb(37, 99, 235);
}
html,
body {
  font: 16px "Lato", sans-serif;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
button:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 6px rgba(37, 99, 235, 0.4);
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
